<template>
 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-scrolled">

  </header><!-- End Header -->

</template>

<script>
import { mapState, mapGetters } from 'vuex';

import axios from 'axios';
export default {
     computed: {
            ...mapState(['token']),
            ...mapGetters(['isAuth']),
        },
    methods: {
           postLogOut() {
            var aValue = localStorage.getItem('token');
            if(aValue){
             localStorage.removeItem('token')
             window.location.reload(true);
            }
            return false
        }
    }

}
</script>

<style scoped>

</style>
