<template>
<div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Hai, siswa 241!</h3>
                    <div class="nk-block-des text-soft">
                        <!-- <p>Welcome to DashLite Dashboard Template.</p> -->
                        <p>Silahkan klik di salah satu aktivitas untuk mulai mengerjakannya, <strong>Semangat!</strong></p>
                    </div>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            
                        </div>
                    </div>
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->
        <div class="nk-block">
      
            <div class="row g-gs">

                    <div class="col-12">


                    <div class="card card-bordered card-full">
                        <div class="card-inner">
                            <div class="card-title-group">
                                <div class="card-title">
                                    <h6 class="title"><span class="mr-2">Daftar Tugas</span>

                                    </h6>
                                </div>
                                <div class="card-tools">
                                    <ul class="card-tools-nav">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <table class="table table-tranx" id="sortTable">
                        <thead>
                            <tr class="tb-tnx-head">
                                <th class="tb-tnx-id"><span class="">Mata Pelajaran</span></th>
                                <th class="tb-tnx-info">
                                    <span class="tb-tnx-desc d-none d-sm-inline-block">
                                        <span>Bab / Sub</span>
                                    </span>
                                    
                                </th>
                                <th class="tb-tnx-info">
                                    Waktu Berakhir
                                </th>
                                <th class="tb-tnx-amount">

                                    <span class="tb-tnx-status d-none d-md-inline-block">Status</span>
                                </th>
                        </tr></thead>
                        <tbody>
                                                            
                            <tr v-for="(task , index) in tasks" :key="task.id" class="tb-tnx-item">
                                <td class="tb-tnx-id">
                                   <span>{{task.materi}}</span>
                                </td>
                                <td class="tb-tnx-id">
                                    <span>{{task.sub_materi}}</span>
                                </td>

                                <td class="tb-tnx-info">
                                     
                                    <div class="tb-tnx-date" style="color:" @="">
                                        {{task.time}}
                                        <br>Jam {{task.end}}
                                    </div>
                                </td>
                                <td class="tb-tnx-amount">

                                    <div class="tb-tnx-info">
                                        <a v-if="task.status == 'ready'" v-bind:href="base_url+'/mulai-tugas/'+task.id" class="btn btn-warning">Kerjakan</a>
                                        <a v-else-if="task.status == 'continue'" v-bind:href="base_url+'/mulai-tugas/'+task.id" class="btn btn-success">Lanjutkan</a>
                                        <a v-else-if="task.status == 'expired'">Sudah Berakhir</a>
                                        <a v-else>Selesai</a>
                                    </div>
                                </td>
                            </tr>
                            <!-- <tr class="tb-tnx-item">
                                <td class="tb-tnx-id">
                                   <span>Matematike Kelas X</span>
                                </td>
                                <td class="tb-tnx-id">
                                    <span>Tugas Baru donk</span>
                                </td>

                                <td class="tb-tnx-info">
                                     
                                    <div class="tb-tnx-date" style="color:" @="">
                                        Jumat, 27 November 2020 
                                        <br>Jam 13:31
                                    </div>
                                </td>
                                <td class="tb-tnx-amount">

                                    <div class="tb-tnx-info">
                                                                                <a>Sudah Berakhir</a>
                                                                            </div>
                                </td>
                            </tr>
                                                        <tr class="tb-tnx-item">
                                <td class="tb-tnx-id">
                                   <span>Matematike Kelas X</span>
                                </td>
                                <td class="tb-tnx-id">
                                    <span>Tugas Baru donk</span>
                                </td>

                                <td class="tb-tnx-info">
                                     
                                    <div class="tb-tnx-date" style="color:" @="">
                                        Sabtu, 28 November 2020 
                                        <br>Jam 13:35
                                    </div>
                                </td>
                                <td class="tb-tnx-amount">

                                    <div class="tb-tnx-info">
                                                                                <a>Sudah Berakhir</a>
                                                                            </div>
                                </td>
                            </tr>
                                                        <tr class="tb-tnx-item">
                                <td class="tb-tnx-id">
                                   <span>Fisika Kelas X</span>
                                </td>
                                <td class="tb-tnx-id">
                                    <span>Tugas Sembilan</span>
                                </td>

                                <td class="tb-tnx-info">
                                     
                                    <div class="tb-tnx-date" style="color:" @="">
                                        Sabtu, 28 November 2020 
                                        <br>Jam 17:25
                                    </div>
                                </td>
                                <td class="tb-tnx-amount">

                                    <div class="tb-tnx-info">
                                                                                <a>Sudah Berakhir</a>
                                                                            </div>
                                </td>
                            </tr>
                                                        <tr class="tb-tnx-item">
                                <td class="tb-tnx-id">
                                   <span>Fisika Kelas X</span>
                                </td>
                                <td class="tb-tnx-id">
                                    <span>Tugas Sembilan</span>
                                </td>

                                <td class="tb-tnx-info">
                                     
                                    <div class="tb-tnx-date" style="color:" @="">
                                        Sabtu, 28 November 2020 
                                        <br>Jam 17:26
                                    </div>
                                </td>
                                <td class="tb-tnx-amount">

                                    <div class="tb-tnx-info">
                                                                                <a>Sudah Berakhir</a>
                                                                            </div>
                                </td>
                            </tr>
                                                        <tr class="tb-tnx-item">
                                <td class="tb-tnx-id">
                                   <span>Matematike Kelas X</span>
                                </td>
                                <td class="tb-tnx-id">
                                    <span>Tugas Baru donk</span>
                                </td>

                                <td class="tb-tnx-info">
                                     
                                    <div class="tb-tnx-date" style="color:" @="">
                                        Kamis, 03 Desember 2020 
                                        <br>Jam 09:50
                                    </div>
                                </td>
                                <td class="tb-tnx-amount">

                                    <div class="tb-tnx-info">
                                                                                <a>Sudah Berakhir</a>
                                                                            </div>
                                </td>
                            </tr> -->
                                                        
                            
                        </tbody>
                    </table>


                            <div class="card-inner-sm border-top text-center d-sm-none">
                            <a href="#" class="btn btn-link btn-block">See History</a>
                        </div>
                    </div><!-- .card -->
                </div><!-- .col -->

            </div><!-- .row -->
        </div><!-- .nk-block -->
    </div>
</template>

<script>
import {api} from '../../helpers/helper'
export default {
    name: 'Task',
    components: {
        'task-form':''
    },
    data(){
        return{
            user: localStorage.getItem('user_namme'),
            tasks: [], 
            base_url:window.location.origin,
        }
    },
    async mounted(){
        let req_task = await api.scheduleV2(2,0,5,'');
        if(req_task){
            this.tasks = req_task
            $("#ujian-loader").hide();
        }
    }
}
</script>

<style scoped>
  @media(min-width: 375px){
            .jenis{
                padding-left:1.25rem !important;
            }
           .leaderboard-container{
               width:200px;
           }
           .leaderboard-container{
               width:200px;
           }
        }
        @media(max-width: 375px){
            .leaderboard-container{
            width:100px;
            }
        }
        @media(max-width: 375px){
            .leaderboard-container{
            width:100px;
            }
         }
        .its-me{
            background: rgb(255,228,128);
            background: linear-gradient(185deg, rgba(255,228,128,1) 0%, rgba(255,217,79,1) 100%);
        }
        .not-me{
            background:#eff8fb;
        }
        /* Absolute Center Spinner */
        .loading {
            /* position: fixed; */
            z-index: 999;
            height: 0em;
            width: 0em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
        }
        .loading:not(:required):after {
        content: '';
        display: block;
        font-size: 10px;
        width: 1em;
        height: 1em;
        margin-top: -4.5em;
        -webkit-animation: spinner 1500ms infinite linear;
        -moz-animation: spinner 1500ms infinite linear;
        -ms-animation: spinner 1500ms infinite linear;
        -o-animation: spinner 1500ms infinite linear;
        animation: spinner 1500ms infinite linear;
        border-radius: 0.5em;
        -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        box-shadow: rgba(20, 211, 216, 0.9) 1.5em 0 0 0, rgba(26, 213, 216, 0.9) 1.1em 1.1em 0 0, rgba(35, 214, 215, 0.9) 0 1.5em 0 0, rgba(30, 213, 216, 0.9) -1.1em 1.1em 0 0, rgba(21, 212, 216, 0.9) -1.5em 0 0 0, rgba(26, 213, 216, 0.9) -1.1em -1.1em 0 0, rgba(21, 212, 216, 0.9) 0 -1.5em 0 0, rgba(28, 213, 215, 0.9) 1.1em -1.1em 0 0;
        }
        /* Animation */
        @-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        }
        @-moz-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        }
        @-o-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        }
        @keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        }
</style>