<template>
        <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-md">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
                            </div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="brand-logo pb-5" style="text-align: center;">
                                    <a href="html/index.html" class="logo-link">
                                        <img class="logo-img" src="https://jogja.ujione.com/images/logoweb.png" alt="">
                                    </a>
                                </div>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content" style="text-align: center;">
                                        <h5 class="nk-block-title">Login</h5>
                                        <div class="nk-block-des">
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <form action="">
                                    <div class="form-group">
                                        <div class="form-label-group" :class="{'has-error': errors.email}">
                                            <label class="form-label" for="default-01">Email</label>
                                        </div>
                                        <input name="email" type="text" class="form-control form-control form-control-lg" required autocomplete="email" v-model="data.email" placeholder="Email">
                                        <p class="text-danger" v-if="errors.email">{{ errors.email[0] }}</p>
                                    </div><!-- .foem-group -->
                                   
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                        <div class="form-control-wrap" :class="{'has-error': errors.password}">
                                            <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch" data-target="password">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input id="password" name="password" type="password" class="form-control form-control form-control-lg" required v-model="data.password" placeholder="Password">
                                            <p class="text-danger" v-if="errors.password">{{ errors.password[0] }}</p>
                                        </div>
                                        
                                    </div><!-- .foem-group -->
                                    <div class="form-group">
                                        <div class="custom-control-sm custom-checkbox">    
                                            <input type="checkbox" class="custom-control-input" name="remember" id="remember">    
                                            <label class="custom-control-label" for="remember">Ingat Saya</label>
                                        </div>
                                    </div><!-- .foem-group -->
                                    <div class="alert alert-danger" v-if="errors.invalid">{{ errors.invalid }}</div>
                                <!-- Attemp -->
                                   
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block"  @click.prevent="postLogin">Sign in</button>
                                    </div>
                                </form>
                            </div><!-- .nk-block -->
                            <div class="nk-block nk-auth-footer">
                               
                                <div class="mt-3">
                                    <p>Ujione.com oleh PT Jetorbit Teknologi Indonesia</p>
                                </div>
                            </div><!-- .nk-block -->
                        </div>
                        <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                            <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                                <div class="slider-init" data-slick='{"dots":false, "arrows":false}'>
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img">
                                            </div>
                                            <div class="nk-feature-content">
                                               <span class="quotes">
                                                    <p>Jika Kamu Tidak Tahan Dengan Lelahnya Belajar, <br>Maka Kamu Harus Tahan Dengan Perihnya Kebodohan</p>
                                                    <p></p>
                                                </span>
                                                <p><i>Imam Syafi'i</i></p>
                                                <hr style="width: 30px;">
                                                <p>Ujione memudahkan dalam mengerjakan ulangan harian, quiz, tugas, UTS dan UAS </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-dots"></div>
                                <div class="slider-arrows"></div>
                            </div>
                        </div><!-- .nk-split-content -->
                    </div><!-- .nk-split -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
</template>

<!-- JAVASCRIPT SECTION -->
<script>
import { mapActions, mapMutations, mapGetters, mapState } from 'vuex';
export default {
    data() {
        return {
            data: {
                email: '',
                password: '',
                remember_me: false
            }
        }
    },
    created() {
        if (this.isAuth) {
            this.$router.push({ name: 'home' })
        }
    },
    computed: {
        ...mapGetters(['isAuth']),
      	...mapState(['errors'])
    },
    methods: {
        ...mapActions('auth', ['submit']),
        ...mapMutations(['CLEAR_ERRORS']),

        postLogin() {
            const Toast = Swal.mixin({
                toast: true,
                position: 'center',
                showConfirmButton: false,
                timer: 2000,
                //   timerProgressBar: true,
                onOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            if(this.data.email == ''){
                Toast.fire({
                    icon: 'error',
                    title: 'Email Tidak Boleh Kosong'
                })
            }else if(this.data.password == ""){
                Toast.fire({
                    icon: 'error',
                    title: 'Harap Password diisi'
                })
            }else{
                this.submit(this.data).then(() => {
                if (this.isAuth) {
                    this.CLEAR_ERRORS()
                    //MAKA AKAN DI-DIRECT KE ROUTE DENGAN NAME home
                    // this.$router.push('/murid-v2/dashboard')
                    window.location.reload(true);
                }
            })
            }
        },
        postLogOut() {
            var aValue = localStorage.getItem('token');
            if(aValue){
             localStorage.removeItem('token')
             window.location.reload(true);
            }
            return false
        }
    }, 
}
</script>
<style  scoped>
    .text-center{
        text-align: center;
        margin: auto;
    }
    .submit{
        background: #489c82;
        color: white;
        border-radius: 50px;
        margin: 0 15px;
        padding: 6px 25px;
        border:unset;
    }
    @media (min-width:992px){
        .width-min{
            max-width: 300px;
        }
    }
</style>
