<template>

</template>

<script>
// const default_layout = 'guest-layout';
    import { mapState, mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapState(['token']),
            ...mapGetters(['isAuth']),

            // layout(){
            //     return (this.$route.meta.layout|| default_layout);
            // }
        },
         components: {

        },
         methods:{
            postLogOut() {
                var aValue = localStorage.getItem('token');
                if(aValue){
                    localStorage.removeItem('token')
                    window.location.reload(true);
                }
                return false
            }
        },
        mounted() {
        const base_url = window.location.origin;
        let recaptchaScript = document.createElement('script')
            recaptchaScript.setAttribute('src', 'https://cdn.jsdelivr.net/npm/sweetalert2@9')
            document.head.appendChild(recaptchaScript)

        },
          methods:{
            postLogOut() {
            var aValue = localStorage.getItem('token');
            if(aValue){
             localStorage.removeItem('token')
             window.location.reload(true);
            }
            return false
        }
        }

    }

</script>
<style scoped>

</style>
