<template>
        <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <div class="nk-header is-light" style="    border-bottom: 1px solid;border-color: aliceblue;">
                    <div class="container-lg wide-xl">
                        <div class="nk-header-wrap" style="padding:20px; bo">
                            <div class="nk-header-brand">
                            <a href="/murid-v2/dashboard" class="logo-link">
                                <!-- <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo"> -->
                                <img class="logo-img" v-bind:src="base_url+'/images/logoweb.png'" alt="">
                                <!-- <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark"> -->
                            </a>
                            </div><!-- .nk-header-brand -->
                            <div class="nk-header-menu" style="width:100%;">
                            <div class="row d-flex justify-content-center" style="margin-left:50px; margin-top:20px;">
                               <div class="col-sm-1"><img v-bind:src="base_url+'/'+school.logo" alt=""></div>
                               <div class="col-sm-9"><h6>{{school.school_name}}</h6>
                                <p>{{school.address}}</p>
                                </div>
                            </div>
                            </div><!-- .nk-header-menu -->
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown notification-dropdown">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown" id="notif-icon">
                                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Notifications</span>
                                                <a id="read-all" style="color:#2fad70; cursor: pointer;">Mark All as Read</a>
                                            </div>

                                            <div class="dropdown-body">
                                                <div id="notifications" class="nk-notification">
                                                    <div v-for="notif in notifications" :key="notif.id" class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">{{notif.content}}</div>
                                                            <div class="nk-notification-time">{{notif.created}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-foot center">
                                                <a >View All</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle mr-lg-n1" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                     
                                                        <img v-bind:src="student.avatar" alt="">
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">{{student.college_name}}</span>
                                                        <span class="sub-text">{{student.email}}</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="/profiles"><em class="icon ni ni-user-alt"></em><span>Lihat Profil</span></a></li>
                                                <li><a href="/setting/account"><em class="icon ni ni-setting-alt"></em><span>Pengaturan Akun</span></a></li>
                                                   
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner" >
                                                <ul class="link-list">
                                                    <li><a @click.prevent="postLogOut"  style="cursor: pointer"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-lg-none">
                                        <a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em class="icon ni ni-menu"></em></a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg" data-toggle-body="true" style=" padding-left:20px; border-radius:10px;">
                                <div class="nk-sidebar-menu" data-simplebar>
                                    <ul class="nk-menu">
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Menu</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <router-link class="nk-menu-link" :to="{ name:'home' }">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Dashboard</span>
                                            </router-link>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <router-link class="nk-menu-link" :to="{ name:'ujian' }">
                                                <span class="nk-menu-icon"><em class="icon ni ni-pen2"></em></span>
                                                <span class="nk-menu-text">Ujian</span>
                                            </router-link>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <router-link class="nk-menu-link" :to="{ name:'tugas' }">
                                                <span class="nk-menu-icon"><em class="icon ni ni-property-alt"></em></span>
                                                <span class="nk-menu-text">Tugas</span>
                                            </router-link>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="results" class="nk-menu-link nk-menu-toggle">
                                                <span class="nk-menu-icon"><em class="icon ni ni-growth"></em></span>
                                                <span class="nk-menu-text">Nilai</span>
                                            </a>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <router-link class="nk-menu-link" :to="{ name:'all-result' , params:{id:'5'}}">
                                                    <span class="" style="border-bottom: 1px dotted #80a9c5;">Semua</span>
                                                    </router-link>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <router-link class="nk-menu-link" :to="{ name:'result-by'}">
                                                    <span class="" style="border-bottom: 1px dotted #80a9c5;">Tugas</span>
                                                    </router-link>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="/result-type/4" class="nk-menu-link">
                                                    <span class="" style="border-bottom: 1px dotted #80a9c5;">Quiz</span>
                                                    </a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="/result-type/1" class="nk-menu-link">
                                                    <span class="" style="border-bottom: 1px dotted #80a9c5;">Ulangan Harian</span>
                                                    </a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="/result-type/2" class="nk-menu-link">
                                                    <span class="" style="border-bottom: 1px dotted #80a9c5;">UTS</span>
                                                    </a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="/result-type/3" class="nk-menu-link">
                                                    <span class="" style="border-bottom: 1px dotted #80a9c5;">UAS</span>
                                                    </a>
                                                </li>
                                                
                                                
                                            </ul>
                                        </li>
                                        <li class="nk-menu-item has-sub">
                                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Akun</span>
                                            </a>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a href="/logout" @click.prevent="postLogOut" class="nk-menu-link"><span class="nk-menu-text">Logout</span></a>
                                                </li>
                                            </ul>

                                        </li><!-- .nk-menu-item -->
                                    </ul>
                                </div><!-- .nk-sidebar-menu -->
                                <div class="nk-aside-close">
                                    <a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
                                </div><!-- .nk-aside-close -->
                            </div><!-- .nk-aside -->
                            <div class="nk-content-body">

                            <router-view></router-view>
                            
                             <!-- footer @s -->
                                <div class="nk-footer" style="padding-top:30px;">
                                    <div class="container wide-xl">
                                        <div class="nk-footer-wrap g-2">
                                            <div class="nk-footer-copyright nav-sm"> &copy; 2020 UjiOne.com Test System By <a href="https://www.jetorbit.com">PT Jetorbit Teknologi Indonesia</a>
                                            </div>
                                            <div class="nk-footer-links">
                                                <ul class="nav nav-sm">
                                                    <li class="nav-item"><a class="nav-link" href="#">Aturan Layanan</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer @e -->
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
    </div>
</template>
<script>
import { mapState, mapGetters } from "vuex";
import {api} from '../helpers/helper'

    export default {
        computed: {
            ...mapState(['token']),
            ...mapGetters(['isAuth']),
        },    
        components: {

        },
        async mounted() {
        let recaptchaScript = document.createElement('script')
            recaptchaScript.setAttribute('src', '../../../assets/js/bundle.js')
            document.head.appendChild(recaptchaScript)
            recaptchaScript = document.createElement('script')
            recaptchaScript.setAttribute('src', '../../../assets/js/scripts.js')
            document.head.appendChild(recaptchaScript)

            let req_student = await api.dashboard(0,10);
            let req_school = await api.school();
            let req_notifications = await api.notifications();
            this.student = req_student.college_info
            this.school  = req_school
            this.notifications = req_notifications;
        },  
        methods:{
            postLogOut() {
                var aValue = localStorage.getItem('token');
                if(aValue){
                    localStorage.removeItem('token')
                    localStorage.removeItem('user_id')
                    window.location.reload(true);
                }
                return false
            }
        },
        data() {
            return {
            base_url: window.location.origin,
            student :[],
            school:[],
            notifications: [],

            };
        },
    }
</script>