<template>
    <div>
    <div id="guest">
        <!-- <div class="container custom-container"> -->
            <router-view></router-view>
        <!-- </div> -->
    </div>
    </div>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapState(['token']),
            ...mapGetters(['isAuth'])
        },
         components: {
        },
         methods:{
            postLogOut() {
            var aValue = localStorage.getItem('token');
            if(aValue){
             localStorage.removeItem('token')
             window.location.reload(true);
            }
            return false
        }
        }

    }

</script>
<style scoped>

</style>
